body {
    background-color: #d1cfcf;
    font-family: Arial, sans-serif;
}
.article-container {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.back-button {
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 20px;
}
.back-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
.article-image {
    margin-top: 70px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}
.article-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.article-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}
.article-content p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}
